In [ ]:
%%time
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/tdc/dataset.csv")

CPU times: user 10.8 ms, sys: 13.7 ms, total: 24.4 ms
Wall time: 28.7 ms

In [ ]:
df

       TimeStamp  time_elapsed  ...  ID[0]      object
0     4000000001      0.106501  ...      3         car
1     4000000002      0.104685  ...      1     bicycle
2     4000000003      0.102612  ...      1  pedestrian
3     4000000004      0.029806  ...      1       truck
4     4000000005      0.124287  ...      3     bicycle
...          ...           ...  ...    ...         ...
2044  4000002045      0.124287  ...      3     bicycle
2045  4000002046      0.138589  ...      3  pedestrian
2046  4000002047      0.070189  ...      3         car
2047  4000002048      0.105082  ...      3  pedestrian
2048  4000002049      0.103703  ...      3       truck

[2049 rows x 22 columns]

In [ ]:
%%time
df[df["Ego_motion_velocity"]>1.39][["TimeStamp","Ego_motion_velocity","object"]]

CPU times: user 9.59 ms, sys: 4.12 ms, total: 13.7 ms
Wall time: 24.7 ms

       TimeStamp  Ego_motion_velocity      object
1     4000000002              1.39224     bicycle
2     4000000003              1.39429  pedestrian
3     4000000004              1.39501       truck
4     4000000005              1.39840     bicycle
5     4000000006              1.40124  pedestrian
...          ...                  ...         ...
2044  4000002045              1.39840     bicycle
2045  4000002046              1.40124  pedestrian
2046  4000002047              1.39974         car
2047  4000002048              1.39481  pedestrian
2048  4000002049              1.39758       truck

[1844 rows x 3 columns]